body, h1, a, nav, ul, li{
    margin: 0px;
    padding: 0;
    bottom: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #F2F2F2;
    /* background: linear-gradient(135deg, #F2F2F2, #91daeb); */
    bottom: 0;
}

main{
    margin: 100px;
}

.LadoA{
    
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
    
}

.LadoB{
    display: flex;
    justify-content: space-between;
    width: 400px;

    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
}

.centro input{
    display:block;
    margin: 10px auto;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    color: #C4C4C4;
    border: none;
}


nav ul li input:hover{
    text-decoration: underline;
}

button{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    padding: 15px;
    width: 190px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #1f1f1f;
    border: none;
}

#enviar{
    font-size: 20px;
    margin: 10px;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    background-color: #1BC3EA;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
}

::placeholder{
    padding: 0 15px;
}

input{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    font-weight: 550;
    width: 190px;
    border: none;
    border-radius: 10px;

}