* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #F2F2F2, #91daeb);
    height: 100;
}


.tabs {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-left: 20px;
}
 
.tab-button {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;
}
 
.tab-button.active {
    border-color: #00bcd4;
    color: #00bcd4;
}
 
.tab-content {
    margin: 20px 20%;
    margin-top: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.toggle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

label {
    margin-bottom: 15px;
    display: block;
}

input {
    width: 30%;
    padding: 5px;
    border: 1px solid hsl(210, 7%, 89%);
    border-radius: 6px;
}

.nome {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.cpf {
    margin-bottom: 20px;
    margin-left: 20px;
}
.Data_de_Nascimento {
    margin-bottom: 20px;
    margin-left: 20px;
}
.email {
    margin-bottom: 20px;
    margin-left: 20px;
}
.cidade {
    margin-bottom: 20px;
    margin-left: 20px;
}
.endereço {
    margin-bottom: 20px;
    margin-left: 20px;
}
.cep {
    margin-bottom: 20px;
    margin-left: 20px;
}
.codigo_postal {
    margin-bottom: 20px;
    margin-left: 20px;
}

.salvar {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px auto;
    margin-right: 50px;
    border: none;
    background-color: #1BC3EA;
    color: #ffffff;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.salvar:hover {
    background-color: #0fa9c9;
}

h2 {
    margin-left: 20px;
}

p {
    margin-top: 20px;
    margin-left: 20px;
}

.nova_senha {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.confirmar {
    margin-left: 20px;
    margin-bottom: 120px;
}

.salvar_segurança {
    width: 16%;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    border: none;
    background-color: #1BC3EA;
    color: #ffffff;
    margin-left: 80%;
}

.toggle-switch {
    margin-top: 20px;    
    margin-left: 20px;
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px; width: 26px;
    left: 4px; bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .slider {
    background-color: #16DBCC;
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(26px);
}

.botoes-salvar {
    margin-top: 20px;
}