<<<<<<<< HEAD:odontoPro/tela-login-main/login.html
========
{% load static %}

>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<<< HEAD:odontoPro/tela-login-main/login.html
    <link rel="stylesheet" href="src/reset.css">
    <link rel="stylesheet" href="src/style.css">
    <link rel="stylesheet" href="src/responsivo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
========

    <link rel="stylesheet" href="{% static 'css/Login/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login/responsivo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
    <title>OdontoPro - Sistema de Gerenciamento</title>
</head>

<body>
<<<<<<<< HEAD:odontoPro/tela-login-main/login.html
    <div class="container">
        <div class="pacienteimg">
            <img src="src/image/Rectangle 2764.png" alt="Imagem OdontoPro">
        </div>
        
        <div class="login">
            <div class="logomarca">
                <img src="src/image/Logo + icon.png" alt="OdontoPro">
========

    <div class="container">
        <div class="pacienteimg">
            <img src="{% static 'img/Rectangle 2764.png' %}" alt="Imagem OdontoPro">
        </div>

        <div class="login">
            <div class="logomarca">
                <img src="{% static 'img/OdontoLogo2.png' %}" alt="OdontoPro">
>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
            </div>

            <h1>Faça login com sua Conta</h1>
            <p>Digite seu e-mail para acessar sua conta</p>

<<<<<<<< HEAD:odontoPro/tela-login-main/login.html
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
========
            <!-- EXIBIR MENSAGENS DO DJANGO -->
            {% if messages %}
                <div class="erro-login" style="margin-bottom: 15px;">
                    {% for m in messages %}
                        <p style="color: red; font-weight: bold;">{{ m }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- FORMULÁRIO DE LOGIN REAL -->
            <form id="loginForm" method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="senha" placeholder="Senha" required>

>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
                <button class="acessar-conta" type="submit">Acessar na conta</button>
            </form>

            <div class="esqueci-senha">
                <div class="Lembrar01">
                    <input id="manter-logado" type="checkbox">
                    <label for="manter-logado">Lembrar Login</label>
                </div>
<<<<<<<< HEAD:odontoPro/tela-login-main/login.html
                <a href="#">Esqueci Senha</a>
========
                <a href="{% url 'recuperarSenha' %}">Esqueci Senha</a>
>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
            </div>

            <div class="outros">
                <button class="facebook">
                    <img src="https://img.icons8.com/?size=100&id=uLWV5A9vXIPu&format=png&color=000000">
                    <h5>Continuar com Facebook</h5>
                </button>
                <button class="google">
                    <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000">
                    <h5>Continuar com Google</h5>
                </button>
            </div>

<<<<<<<< HEAD:odontoPro/tela-login-main/login.html

            <div class="criar-conta">
                <p>Ainda não tem uma conta ? <a href="#">Criar conta</a></p>
            </div>
        </div>
    </div>
</body>
</html>
========
            <div class="criar-conta">
                <p>Ainda não tem uma conta ? <a href="{% url 'criarConta' %}">Criar conta</a></p>
            </div>
            <div class="cadastrar-clinica">
                <p>Junte-se a nós. Cadastre a sua clinica <a href="{% url 'criarConta' %}"> aqui</a></p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/Login/login.js' %}"></script>

</body>
</html>
>>>>>>>> aebeb7a1570979faa1cf5ebb155eb4a53e8b031c:templates/Login/login.html
