@media (max-width: 850px) {
    .card {
        flex-direction: column;
        align-items: flex-start;
    }

    .status-area {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}



@media (max-width: 480px) {
    body {
        padding: 12px;
    }

    .top-bar h1 {
        font-size: 24px;
    }

    .card {
        padding: 18px;
    }

    .info h2 {
        font-size: 18px;
    }

    .status-area {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 12px;
    }

    .btn,
    .status {
        width: 100%;
    }
}