* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-color: #f2f2f2;
  color: #333;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 50px;
  padding: 20px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 40px;
}
.search-area {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px 10px;
  border-radius: 8px;
  width: 500px;
}

.search-area input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.search-area i {
  color: #777;
  margin-left: 5px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions .fa-bell {
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}
.user-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}
.foto_perfil {
  border-radius: 50%
}
main {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  border-color: #ffffff;
}
.imagem_clinica{
  height: 78px;
  width: 98px;
}
.options{
  display: flex;
  margin: 5px;
  color: #1bc3ea;
  background-color: #ffffff;
  border: #ffffff;
  border-radius: 8px;
  height: 70px;
  width: 900px;
  font-size: large;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
h4 h6 {
  color: #333;
}
.tipo_opcao {
  padding: 0px;

}
.more_options{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1bc3ea;
  background-color: #ffffff;
  height:40px;
  width: 200px;
  border: #1bc3ea;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}
  
.footer-logo img.logo {
  height: 40px;
}
  
.footer-text {
  text-align: center;
  flex: 1;
  color: #666;
}
  
.footer-social a {
  color: #00bcd4;
  margin-left: 10px;
  transition: transform 0.2s;
}
  
.footer-social a:hover {
  transform: scale(1.2);
  color: #0097a7;
}
  
.footer-bottom {
  margin-top: 1rem;
  text-align: center;
  color: #aaa;
  font-size: 0.8rem;
}