{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínicas</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

<header class="top-header">
    <h1>Clínicas</h1>
</header>

<main>
    <section class="filter-section">

        <div class="filter-group">
            <label>Especialidade:</label>
            <select id="selectEspecialidade">
                <option value="">Todas</option>
                {% for esp in especialidades %}
                    <option value="{{ esp.nome }}">{{ esp.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-group">
            <label>Tipo:</label>
            <select id="selectTipo">
                <option value="">Todos</option>
                <option value="Particular">Particular</option>
                <option value="Convênio">Convênio</option>
            </select>
        </div>

        <div class="filter-group">
            <label>Preço máximo:</label>
            <input type="number" id="inputPreco" placeholder="R$ 0,00">
        </div>

    </section>

    <section id="clinicasContainer" class="clinicas-container">

        {% for clinica in clinicas %}
        <div class="clinica-card"
            data-especialidades="{{ clinica.especialidades_nomes }}"
            data-tipo="{{ clinica.tipo }}"
            data-preco="{{ clinica.preco }}">

            <img src="{% static 'img/Clinica Orto.png' %}" class="clinica-img">
            <h3>{{ clinica.nome }}</h3>
            <p><strong>Especialidades:</strong> {{ clinica.especialidades_nomes }}</p>
            <p><strong>Tipo:</strong> {{ clinica.tipo }}</p>
            <p><strong>Preço:</strong> R$ {{ clinica.preco }}</p>

        </div>
        {% endfor %}

    </section>
</main>

<script src="{% static 'js/menu.js' %}"></script>


  {% block footer %}
  {% include 'partials/footer/footer.html' %}
  {% endblock %}

</body>
</html>
